.main__container {
    display: flex;
    justify-content: space-between;
}
.column {
    width: 400px;
    display: inline-block;
}
.error input {
   border: 2px solid #ffa4a4;
}
.text-red {
    color: red;
}

.register {
    width: 400px;
    margin: 0 auto;
}